<h5>
        Q1.
        </h5>
        <h5>
        A.Islamabad
        </h5>
        <h5>
        B.Lahore
        </h5>
        <h5>
        C.Rawalpindi      
        </h5>
      <h5>
        D.Karachi
        </h5>

    {{=form2a}}




       <h5>
        Q2.Jude Felix is a famous Indian sports personality of which field?
        </h5>
        <h5>
        A.Football
        </h5>
        <h5>
        B.Kho-Kho
        </h5>
        <h5>
        C.Hockey
        </h5>
      <h5>
        D.Table Tennis
        </h5>

    {{=form2b}}



 <h5>
        Q3. 
        </h5>
        <h5>
        A.Brandon Routh
        </h5>
        <h5>
        B.Ben Affleck
        </h5>
        <h5>
        C.Christian Bale
        </h5>
      <h5>
        D.Henry Cavill
        </h5>

    {{=form2c}}


 <h5>
        Q4.Who is the Vice President of India ?
        </h5>
        <h5>
        A.
        </h5>
        <h5>
        B.
        </h5>
        <h5>
        C.
        </h5>
      <h5>
        D.
        </h5>

    {{=form2d}}



<h5>
       
        </h5>
        <h5>
        A.Vancouver
        </h5>
        <h5>
        B.London
        </h5>
        <h5>
        C.Beijing
        </h5>
      <h5>
        D.
        </h5>
      
    {{=form2e}}
